.container {
    width: 350px;
    height: max-context;
    margin: auto;
    background-color: #ebebeb;
    padding: 20px 15px;
    border-radius: 7px;
    font-family: PT Serif;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 35px;
}

h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

.login-form {
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: grid;
}

.form-Field {
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
    width: 220px;
}

.img{
    width: 17px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
}

.ajuste-input{
    width: 17px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
}

.input{
  display:flex;
  align-items: center;
  justify-content: center;
}


.form-error {
    display: block;
    color: rgb(240, 33, 18);
    font-size: 0.9em;
    font-weight: 600;
}

.button {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF 100%); 
    margin: 10px;
    padding: 10px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 4px;
    display: block;
    border: none;
}


.button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

         
/* .button {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .button:hover {
    background-position: right center; /* change the direction of the change here */
    /* color: #fff;
    text-decoration: none;
  } */ */
 

hr{
    border-color:#aaa;
    box-sizing:border-box;
    width:100%;  
  }


